<IfModule mod_rewrite.c>
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^simples/?$ simples.php
RewriteRule ^index/?$ index.php
RewriteRule ^institucional/?$ institucional.php
RewriteRule ^institucional/pg/([a-z0-9-]*)\/?$ institucional.php?pg=$1
RewriteRule ^institucional-texto/?$ institucional-texto.php
RewriteRule ^institucional-texto/pg/([a-z0-9-]*)\/?$ institucional-texto.php?pg=$1
RewriteRule ^o-que-fazemos/?$ o-que-fazemos.php
RewriteRule ^o-que-fazemos/pg/([a-z0-9-]*)\/?$ o-que-fazemos.php?pg=$1
RewriteRule ^bem-estar/?$ bem-estar.php
RewriteRule ^bem-estar/pg/([a-z0-9-]*)\/?$ bem-estar.php?pg=$1
RewriteRule ^bem-estar-texto/?$ bem-estar-texto.php
RewriteRule ^bem-estar-texto/pg/([a-z0-9-]*)\/?$ bem-estar-texto.php?pg=$1
RewriteRule ^noticias/?$ noticias.php
RewriteRule ^noticias/pg/([a-z0-9-]*)\/?$ noticias.php?pg=$1
RewriteRule ^dicas-receitas/?$ dicas-receitas.php
RewriteRule ^dicas-receitas/pg/([a-z0-9-]*)\/?$ dicas-receitas.php?pg=$1
RewriteRule ^estrutura-de-apoio/?$ estrutura-de-apoio.php
RewriteRule ^estrutura-de-apoio/pg/([a-z0-9-]*)\/?$ estrutura-de-apoio.php?pg=$1
RewriteRule ^estrutura-de-apoio-textos/?$ estrutura-de-apoio-textos.php
RewriteRule ^estrutura-de-apoio-textos/pg/([a-z0-9-]*)\/?$ estrutura-de-apoio-textos.php?pg=$1
RewriteRule ^contato/?$ contato.php
RewriteRule ^contato/pg/([a-z0-9-]*)\/?$ contato.php?pg=$1
RewriteRule ^fale-conosco/?$ fale-conosco.php
RewriteRule ^fale-conosco/pg/([a-z0-9-]*)\/?$ fale-conosco.php?pg=$1
RewriteRule ^trabalhe-conosco/?$ trabalhe-conosco.php
RewriteRule ^trabalhe-conosco/pg/([a-z0-9-]*)\/?$ trabalhe-conosco.php?pg=$1
RewriteRule ^localizacao/?$ localizacao.php
RewriteRule ^localizacao/pg/([a-z0-9-]*)\/?$ localizacao.php?pg=$1
RewriteRule ^parametro_string/pg/([a-z0-9-]*)\/?$ parametro_string.php?pg=$1
RewriteRule ^parametro_int\/?([1-9]*)\/?$ parametro_int.php?qs_pg2805=$1
</IfModule>
