@import url("reset.css");
/* Import style sheets, hiding from IE/Mac \*/
/* End of import hide */
/* GERAL */
* {
  padding: 0;
  margin: 0;
}
body .centraliza {
  width: 1000px;
  margin: 0 auto;
}
body a,
body a:active,
body a:visited {
  color: inherit;
  text-decoration: none;
}
body a:hover {
  color: inherit;
  text-decoration: underline;
}
body .separator {
  clear: both;
}
/* HEADER */
#header {
  background: url(../nutriservice/images/bg_top.png) center;
  height: 600px;
}
#header #logo img {
  float: left;
  margin-left: 300px;
  margin-top: 30px;
}
#header #menu #menu-topo {
  float: left;
  margin-top: 50px;
}
#header #menu #menu-topo ul {
  list-style-type: none;
}
#header #menu #menu-topo ul li {
  display: inline;
  margin-left: 50px;
}
/* FOOTER */
#footer_area {
  background: url(../nutriservice/images/bg_footer_menu.png) repeat-x;
  height: 210px;
}
#footer_area #footer_menu #institucional {
  float: left;
  margin-top: 10px;
}
#footer_area #footer_menu #institucional .titulo_footer {
  color: #05a14b;
  font-weight: bold;
  font-family: verdana;
  font-size: 13px;
}
#footer_area #footer_menu #institucional .sub_footer {
  color: #05a14b;
  font-family: verdana;
  font-size: 13px;
}
#footer {
  background-color: #05a14b;
  height: 100px;
}
#footer #al_footer #texto_footer {
  float: left;
  text-align: center;
  color: #fff;
}
/* HOME */
#content {
  background: url(../nutriservice/images/bg_principal.png) repeat-x;
}
#content #area_info {
  height: 470px;
}
#content #area_info #home_slider #slide {
  float: left;
  margin-top: -250px;
}
#content #area_info #oque_fazemos {
  float: left;
  margin-top: 10px;
}
#content #area_info #dicas {
  float: left;
  margin-top: 10px;
  margin-left: 70px;
}
#content #area_info #fala-conosco {
  float: right;
  margin-top: 10px;
  margin-left: 50px;
}
#content #nutri_news {
  background: url(../nutriservice/images/bg_nutri_news.png) repeat-x;
  height: 340px;
}
#content #nutri_news #news #area_news .img_news {
  float: left;
  margin-top: 10px;
}
#content #nutri_news #news #area_news .titulo {
  margin-top: 15px;
  margin-left: 130px;
}
#content #nutri_news #news #area_news #area_noticias {
  float: left;
  margin-top: 10px;
  margin-left: 50px;
}
#content #nutri_news #news #area_news #area_noticias img {
  width: 230px;
  height: 100px;
  border: 1px solid #c9c9c9;
  padding: 6px;
}
#content #nutri_news #news #area_news #area_noticias #texto {
  width: 230px;
  text-align: justify;
  font-size: 14px;
}
#content #nutri_news #news #area_news #area_noticias #texto .leia {
  float: right;
}
#content #info_content {
  background: url(../nutriservice/images/bg_home_info.png) repeat-x;
  height: 215px;
}
#content #info_content #info_home #clientes {
  background: url(../nutriservice/images/clientes.png) no-repeat;
  width: 270px;
  height: 170px;
}
#content #info_content #info_home #clientes img {
  margin-top: 52px;
}
#content #info_content #info_home #onde_estamos {
  float: right;
  background: url(../nutriservice/images/onde-estamos.png) no-repeat;
  height: 171px;
  width: 270px;
  margin-top: -170px;
  margin-right: 370px;
}
#content #info_content #info_home #onde_estamos img {
  margin-top: 55px;
}
#content #info_content #info_home #cont {
  background: url(../nutriservice/images/contato.png) no-repeat;
  float: left;
  height: 170px;
  width: 270px;
  margin-top: -170px;
  margin-left: 700px;
}
#content #info_content #info_home #cont input[type=text] {
  border: 2px solid;
  border-radius: 10px;
  outline: none;
  width: 250px;
  height: 25px;
  padding-left: 15px;
  margin-top: 110px;
  background-color: #000000;
}
#content #info_content #info_home #cont #cont_bt {
  float: right;
  margin-right: 5px;
  margin-top: 2px;
}
