/* Import style sheets, hiding from IE/Mac \*/
@import url("reset.css");
/* End of import hide */
/* GERAL */
*{
    padding: 0;
    margin: 0;
}
body{
    .centraliza{
        width:1000px;
        margin:0 auto;
        }
    a, a:active, a:visited{
        color:inherit;
        text-decoration:none;
        }
    a:hover{
        color:inherit;
        text-decoration:underline;
        }
    .separator{
        clear:both;
        }
    }
    #slider{        
        #slide{
            float: left;
             margin-top:-250px;
         }
    }
/* HEADER */
#header{
    background: url(../images/bg_top.png) center;
    height: 600px; 
    #logo{
        img{
        float: left;
        margin-left: 330px;
        margin-top: 30px;
        }
    }
    #menu-top{
        #menu-topo{
            float: left;
            margin-top: 50px;
            margin-left: 60px;  
            ul{
                list-style-type: none;
                li{
                    display: inline;
                    margin-left: 50px;
                    img{

                    }
                }
            }
        }        
    }  
}


/* FOOTER */

#footer_area{
    background: url(../images/bg_footer_menu.png) repeat-x;
    height: 210px;
    #footer_menu{
        #institucional{
            float: left;
            margin-top: 25px;
            .titulo_footer{
                color: #05a14b;
                font-weight: bold;
                font-family: verdana;
                font-size: 13px;
            }  
            ul{
                list-style-type:none;

                li{
                    color: #05a14b;
                    margin-top: 5px;

                }
            }
        }
         #oquefazemos{
            float: left;
            margin-top: 25px;
            margin-left: 40px;
            .titulo_footer{
                color: #05a14b;
                font-weight: bold;
                font-family: verdana;
                font-size: 13px;
            }  
            ul{
                list-style-type:none;

                li{
                    color: #05a14b;
                    margin-top: 5px;

                }
            }
        }
        #bemestar{
            float: left;
            margin-top: 25px;
            margin-left: 40px;
            .titulo_footer{
                color: #05a14b;
                font-weight: bold;
                font-family: verdana;
                font-size: 13px;
            }  
            ul{
                list-style-type:none;

                li{
                    color: #05a14b;
                    margin-top: 5px;

                }
            }
        }
        #apoio{
            float: left;
            margin-top: 25px;
            margin-left: 40px;
            .titulo_footer{
                color: #05a14b;
                font-weight: bold;
                font-family: verdana;
                font-size: 13px;
            }  
            ul{
                list-style-type:none;

                li{
                    color: #05a14b;
                    margin-top: 5px;
                }
            }
        }
        #noticias{
            float: left;
            margin-top: 25px;
            margin-left: 40px;
            .titulo_footer{
                color: #05a14b;
                font-weight: bold;
                font-family: verdana;
                font-size: 13px;
            }  
            ul{
                list-style-type:none;

                li{
                    color: #05a14b;
                    margin-top: 5px;

                }
            }
        }
        #fale{
            float: left;
            margin-top: 25px;
            margin-left: 40px;
            .titulo_footer{
                color: #05a14b;
                font-weight: bold;
                font-family: verdana;
                font-size: 13px;
            }  
            ul{
                list-style-type:none;

                li{
                    color: #05a14b;
                    margin-top: 5px;

                }
            }
        }
    }
    .curta{
        float: left;
        margin-top: 47px;
        margin-left: 175px;
    }
    .face{
        float: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    .botao{
        float: left;
        margin-left: 10px;
        margin-top: 35px;
    }
    
}


#footer{
        background:url(../images/bg_footer_texto.png) repeat-x;
        height: 100px;
    #al_footer{
        #texto_footer{
            float: left;
            margin-left: 180px;
            margin-top: 30px;
            text-align: center;
            color: #fff;
        }
        .botao{
            float: right;
            margin-top: 30px;
        }
    }
}
/* HOME */
#content{   
    background: url(../images/bg_principal.png) repeat-x;
    #area_info{
        height: 470px;
        #home_slider{        
            #slide{
                float: left;
                margin-top:-250px;
            }
        }
        #oque_fazemos{
            float: left;
            margin-top: 10px;
        }

        #dicas{
            float: left;
            margin-top: 10px;
            margin-left: 70px;
        }
        #fala-conosco{
            float: right;
            margin-top: 10px;
            margin-left: 50px;
        }
    }
    #nutri_news{
        background: url(../images/bg_nutri_news.png) repeat-x;
        height: 340px;
        #news{
            #area_news{
                .img_news{
                float: left;
                margin-top: 10px;
            }
            .titulo{
                margin-top: 15px;
                margin-left: 130px;
            } 

            #area_noticias{
                float: left;
                margin-top: 10px;
                margin-left: 50px;
                img{
                    width: 230px;
                    height: 100px;
                    border: 1px solid #c9c9c9;
                    padding: 6px;
                }
                #texto{
                    width: 230px;
                    text-align: justify;
                    font-size: 14px;
                    .leia{
                        float: right;
                        }
                    }
                }               
            }
        }
    }

    #info_content{
        background: url(../images/bg_home_info.png) repeat-x;
        height: 215px;
        #info_home{
            #clientes{   
                background: url(../images/clientes.png) no-repeat;
                width: 270px;
                height: 170px;
                img{
                    margin-top: 52px;
                }
            }

            #onde_estamos{
                float: right;
                background: url(../images/onde-estamos.png) no-repeat;
                height: 171px;
                width: 270px;
                margin-top: -170px;
                margin-right: 370px;
                img{
                    margin-top: 55px;
                }

            }

            #cont{
                background: url(../images/contato.png) no-repeat;
                float: left;
                height: 170px;
                width: 270px;
                margin-top: -170px;
                margin-left: 700px;
                input[type=text]{                 
                   border:2px solid;
                   border-radius: 10px;
                   outline:none;
                   width:250px;
                   height:25px;
                   padding-left:15px;  
                   margin-top: 110px; 
                   background-color: #000000;                
                }
                #cont_bt{
                    float: right;
                    margin-right: 5px;
                    margin-top: 2px;
                }
            }
        }        
    }
}

/* INSTITUCIONAL */
#content-institucional{  
    background: url(../images/bg_principal.png) repeat-x;

    #area{
        height: 700px;
        background-color: #fff;
        #menu{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }

        #area-texto{
            padding: 30px;
            float: left;
            margin-top: 0px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
                margin-bottom: 12px;

            }
            .volt{
                float: left;
                margin-top: 100px;
                margin-left: 50px;
            }
            .conteudo{
                color: #9a9999;
                font-size: 15px;
                font-family: verdana;

                .logos{
                    width: 735px;
                    height: 300px;
                    float: left;
                    margin-left: 90px;
                    margin-top: -140px;
                    ul{
                        list-style-type: none;
                        li{
                            display: inline;
                            padding: 10px;
                            img{
                                border: 1px solid #dbdbdb;
                            }
                        }
                    }
                }
            }
            .next{
                float: right;
                margin-top: -50px;
                margin-right: -40px;
            }
        }
    }
}
.mapa{
    float: right;
    margin-right: 17px;
    margin-top: 50px;
    img{
        width: 425px;
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}

/* O QUE FAZEMOS - ofertas-especiais */
#content{   
    #area{
        height: 900px;
        background-color: #fff;
        #menu-oquefazemos{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                li{
                    display:inline;
                    margin-left: 20px;
                }
            }
        }

        #area-texto{
            padding: 30px;
            float: left;
            margin-top: 30px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .conteudo{
                color: #9a9999;
                font-size: 15px;
                font-family: verdana;
                .conteiner{
                    float: left;
                }
                ul{
                    list-style-type:none;
                    .img{
                        float: left;
                        margin-left: 60px;
                        margin-top: 30px;
                        padding-right: 20px;
                    }
                    .titulo{
                        float: left;
                        color:#05a14b;
                        margin-top: 30px;
                        padding-right: 210px;
                        padding-bottom: 16px;
                        width: 220px;

                    }
                    .texto{
                        margin-top: 30px;
                        color: #6d6e6d;
                        font-size: 12px;
                        .sub{
                            color:#05a14b;
                        }
                    }
                }
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}

/* O QUE FAZEMOS - TIPOS DE FORNECIMENTO */
#content{   
    #area{
        height: 900px;
        background-color: #fff;
        #menu-oquefazemos{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                li{
                    display:inline;
                    margin-left: 20px;
                }
            }
        }

        #area-texto-tipos{
            padding: 30px;
            float: left;
            margin-top: 30px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .conteudo{
                color: #9a9999;
                font-size: 15px;
                font-family: verdana;
                .conteiner{
                    float: left;
                }
                ul{
                    list-style-type:none;
                    .img{
                        float: left;
                        margin-left: 60px;
                        margin-top: 30px;
                        padding-right: 20px;
                    }
                    .titulo{
                        float: left;
                        color:#05a14b;
                        margin-top: 30px;
                        padding-bottom: 16px;
                    }
                    .texto{
                        float: left;
                        width: 440px;
                        color: #6d6e6d;
                        font-size: 12px;
                        .sub{
                            color:#05a14b;
                        }
                    }
                }
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}

/* O QUE FAZEMOS - AMBIENTAÇÃO - EVENTOS TEMATICOS */
#content{   
    #area{
        height: 900px;
        background-color: #fff;
        #menu-oquefazemos{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                li{
                    display:inline;
                    margin-left: 20px;
                }
            }
        }

        #area-texto-ambientacao{
            padding: 30px;
            float: left;
            margin-top: 30px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .conteudo{
                color: #9a9999;
                font-size: 15px;
                font-family: verdana;
                .conteiner{
                    float: left;
                    img{
                        margin-top: 30px;
                    }
                }
                ul{
                    list-style-type:none;
                    .img{
                        float: left;
                        margin-left: 60px;
                        margin-top: 30px;
                        padding-right: 20px;
                    }
                    .img-eventos{
                        float: left;
                        margin-left: 60px;
                        margin-top: 30px;
                        padding-right: 20px;
                        width: 290px;
                        .ampliar{
                            margin-left: 30px;
                        }
                    }
                    .titulo{
                        width: 440px;
                        float: left;
                        color:#05a14b;
                        margin-top: 55px;
                    }
                    .texto{
                        float: left;
                        color: #6d6e6d;
                        width: 400px;
                        height: 150px;
                        margin-top: 30px;
                        .sub{
                            color:#05a14b;
                        }                    
                    }
                    .texto-eventos{
                        float: left;
                        color: #6d6e6d;
                    }
                }
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}


/* BEM ESTAR */
#content-bem-estar{   
    background: url(../images/bg_principal.png) repeat-x;
    #area{
        height: 980px;
        background-color: #fff;
        #menu{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                text-align: center;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }

        #area-texto{
            padding: 30px;
            float: left;
            margin-top: 30px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .volt{
                float: left;
                margin-top: 100px;
                margin-left: 50px;
            }
            .conteudo{
                color: #6d6e6d;
                font-size: 15px;
                font-family: verdana;

                .images{
                    float: left;
                    width: 400px;
                    height: 700px;

                    .img-text-01{
                        margin-left: 30px;
                        margin-top: 40px
                    }
                    .img-text-02{
                        margin-top: 100px;
                        margin-left: 30px;
                    }
                }

                .texto{
                    float: left;
                    width: 400px;
                    height: 400px;
                    margin-left: 80px;
                    margin-top: 60px;
                    text-align: justify;
                    font-size: 12px;

                    .text-01{
                        margin-top: 50px;
                    }
                    .text-02{
                        margin-top: 220px;

                    }
                }
        }
            .next{
                float: right;
                margin-top: -50px;
                margin-right: -40px;
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}

/* BEM ESTAR DICAS */
#content-bem-estar{   
    background: url(../images/bg_principal.png) repeat-x;
    #area{
        height: 980px;
        background-color: #fff;
        #menu-bem-estar{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                text-align: center;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }

        #area-texto{
            padding: 30px;
            float: left;
            margin-top: 0px;
            margin-bottom: -45px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .volt{
                float: left;
                margin-top: 100px;
                margin-left: 50px;
            }
            .conteudo-dicas{
                color: #9a9999;
                font-size: 15px;
                font-family: verdana;

                .images{
                    float: left;
                    width: 215px;
                    height: 215px;

                    .img-text-01{
                        margin-left: 30px;
                        margin-top: 30px
                    }
                }

                .texto{
                    background: url(../images/bem-estar/dicas/bg_dicas.png) no-repeat;
                    float: left;
                    width: 660px;
                    height: 183px;
                    margin-left: 5px;
                    margin-top: 30px;
                    text-align: justify;
                    font-size: 12px;
                    .titulo{
                        float: left;
                        margin-left: 40px;
                        margin-top: 20px;
                        color:#05a14b;
                        font-size: 15px;
                    }

                    .text-01{
                        margin-left: 40px;
                        margin-right: 20px;
                        margin-top: 60px;
                        font-size: 12px;
                        color: #589175;

                    }
                    .voltar{
                        float: right;
                        margin-right: 50px;
                    }
                }
            }
            .next{
                float: right;
                margin-top: -50px;
                margin-right: -40px;
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}


/* BEM ESTAR DICAS RECEITAS */

#content-receitas{   
    background: url(../images/bg_principal.png) repeat-x;
    #area{
        height: 920px;
        background-color: #fff;
        #menu-receitas{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                text-align: center;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }

        #area-texto{
            padding: 30px;
            float: left;
            margin-top: 30px;
            margin-bottom: -70px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .volt{
                float: left;
                margin-top: 100px;
                margin-left: 50px;
            }
            .conteudo-receitas{
                color: #6d6e6d;
                font-size: 15px;
                font-family: verdana;

                .images{
                    float: left;
                    width: 215px;
                    height: 215px;

                    .img-text-01{
                        margin-left: 30px;
                        margin-top: 30px
                    }
                }

                .texto-receitas{
                    background: url(../images/bem-estar/bg_receitas.png) no-repeat;
                    float: left;
                    width: 700px;
                    height: 645px;
                    margin-left: 5px;
                    margin-top: 30px;
                    text-align: justify;
                    font-size: 12px;
                    .titulo{
                        float: left;
                        margin-left: 40px;
                        margin-top: 20px;
                        color:#05a14b;
                        font-size: 15px;
                    }

                    .text-01{
                        margin-left: 40px;
                        margin-right: 20px;
                        margin-top: 60px;
                        font-size: 12px;
                        color: #589175;

                    }
                    .voltar{
                        float: right;
                        margin-right: 50px;
                    }
                }
            }
            .next{
                float: right;
                margin-top: -50px;
                margin-right: -40px;
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}




/* ESTRUTURA DE APOIO */

#content-estrutura{   
    background: url(../images/bg_principal.png) repeat-x;
    #area{
        height: 700px;
        background-color: #fff;
        #menu{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                text-align: center;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }

        #area-texto{
            padding: 30px;
            float: left;
            margin-top: 30px;
            margin-bottom: -70px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .conteudo{
                color: #6d6e6d;
                font-size: 15px;
                font-family: verdana;

                .images{
                    float: left;
                    margin-left: 130px;
                }
                .images-seguranca{
                    float: right;
                    margin-top: 123px;
                    margin-left: 30px;
                }

                .texto{
                    float: right;
                    width: 390px;
                    height: 250px;
                    margin-left: 50px;
                    margin-top: 90px;
                    font-size: 12px;
                }
                .texto-seguranca{
                    float: left;
                    width: 400px;
                    height: 250px;
                    margin-left: 10px;
                    margin-top: 40px;
                    font-size: 12px;
                    .title{
                        color:#05a14b;
                        font-size: 12px;
                    }

                }

                .texto-ti{
                    float: left;
                    margin-left: 10px;
                    margin-top: 40px;
                    font-size: 12px;
                    .title{
                        color:#05a14b;
                        font-size: 12px;
                    }

                }
                .voltar{
                    float: right;
                    margin-right: 50px;                    
                }
            }
            .next{
                float: right;
                margin-top: -50px;
                margin-right: -40px;
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}



/*ESTRUTURA DE APOIO */

#content-estrutura{   
    background: url(../images/bg_principal.png) repeat-x;
    #area{
        height: 600px;
        background-color: #fff;
        #menu-bem-estar{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                text-align: center;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }

        #area-texto{
            padding: 30px;
            float: left;
            margin-top: 30px;
            margin-bottom: -70px;
            .title{
                color: #05a14b;
                font-size: 25px;
                font-family: verdana;
            }
            .volt{
                float: left;
                margin-top: 100px;
                margin-left: 50px;
            }
            .conteudo-dicas{
                color: #9a9999;
                font-size: 15px;
                font-family: verdana;

                .images{
                    float: left;
                    width: 215px;
                    height: 215px;

                    .img-text-01{
                        margin-left: 30px;
                        margin-top: 30px
                    }
                }

                .texto{
                    background: url(../images/bem-estar/dicas/bg_dicas.png) no-repeat;
                    float: left;
                    width: 700px;
                    height: 183px;
                    margin-left: 5px;
                    margin-top: 30px;
                    text-align: justify;
                    font-size: 12px;
                    .titulo{
                        float: left;
                        margin-left: 40px;
                        margin-top: 20px;
                        color:#05a14b;
                        font-size: 15px;
                    }

                    .text-01{
                        margin-left: 40px;
                        margin-right: 20px;
                        margin-top: 60px;
                        font-size: 12px;
                        color: #589175;

                    }
                    .voltar{
                        float: right;
                        margin-right: 50px;
                    }
                }
            }
            .next{
                float: right;
                margin-top: -50px;
                margin-right: -40px;
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}

/* NOTICIAS */

#content-noticias{   
    background: url(../images/bg_principal.png) repeat-x;
    #area{
        height: 620px;
        background-color: #fff;
        #menu{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                text-align: center;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }       
        #titulos-noticias{
            float: left;
            width: 180px;
            margin-left: 40px;
            margin-top: 50px;
            .data{
                font-size: 17px;
                color: #05a14b;
            }
            .prev{
                color: #05a14b;
                font-size: 12px;
                
            }
            hr{
                color: #ddf4e9;
            }
        }
        #conteudo{
            float: left;
            background: url(../images/noticias/bg_area_noticias.png) repeat-x;
            width: 750px;
            height: 443px;
            margin-top: 62px;
            .titulo{
                text-align: center;
                margin-top: 30px;
                font-size: 15px;
                font-weight: bold;
            }
            .image{
                text-align: center;
                margin-top: 10px;
            }
            .texto{
                margin-top: 20px;
                padding-left: 30px;
                padding-right: 30px;
                font-size: 12px;
            }
        }
    }
}
#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}

/* CONTATO */

#content-contato{   
    background: url(../images/bg_principal.png) repeat-x;
    #area{
        height: 650px;
        background-color: #fff;
        #menu-contato{
            float: left;
            margin-top: -1px;
            background-color: #05a14b;
            height: 31px;
            width: 1000px;
            ul{
                list-style-type: none;
                text-align: center;
                li{
                    display:inline;
                    margin-left: 40px;
                }
            }
        }  
    } 
    #area-texto{
        float: left;

    .titulo{
        color: #05a14b;
        font-size: 25px;
        margin-top: 50px;
        margin-left: 20px;
        float: left;
    }
    .conteudo{
        float: left;
        color: #6d6e6d;
        font-size: 12px;
        margin-left: 20px;
        margin-top: 25px;
        .sub{
            color: #05a14b;
        }
        .lista-1{
            float: left;
            margin-top: 30px;
        }
        .lista-2{
            float: left;
            margin-left: 50px;
            margin-top: 30px;
        }

        /*LOCALIZAÇÃO */

        .titulo-localizacao{
            float: left;
            margin-top: 110px;
            margin-left: 20px;
            color: #05a14b;
            font-size: 12px;
        }
        .mapa-localizacao{
            float: left;
            margin-left: -60px;
            margin-top: 100px
        }

        .matriz{
            float: left;
            margin-top: 150px;
            margin-left: -80px;
            background: url(../images/contato/bg_matriz.png) no-repeat;
            width: 220px;
            height: 80px;
            color:#fff;
            p{
                margin-left: 20px;
                margin-top: 10px;
                }
            }
         /* FIM LOCALIZAÇÃO */

         /* TRABALHE CONOSCO */

         .titulo-trabalhe{
            float: left;
            margin-top: 30px;
            margin-left: 10px;
            color: #05a14b;
            font-size: 25px;            
            }
        .texto{
            float: left;
            width: 465px;
            margin-left: 30px;
            margin-top: 30px;
            font-size: 15px;
            }        
        }    
        #formulario{
            float: left;
            width:405px;
            margin-top:80px;
            margin-left:50px;
            input[type=text]{                 
                border:1px solid #CCCBCB;
                outline:none;
                width:360px;
                height:33px;
                margin-bottom:15px;
                padding-left:10px;                   
            }            
             #curri{
                margin-top: 10px;
                margin-bottom: 30px;
                border:1px solid #CCCBCB;
                width: 370px;
                height: 22px;
            }
               
            textarea{                
                border:1px solid #CCCBCB;
                outline:none;
                width:360px;
                height:100px;
                margin-bottom:0px;
                padding-left:13px;
                padding-top:10px;
                }
            #cont_bt{
                margin-left:150px;
                margin-top:5px;
                }
         }    
    }
}


#voltar{
    height: 100px;
    .link{
        float: left;      
        margin-left: 450px;  
        margin-top: 40px;
        color: #05a14b;
    }
}

